<html>
  <head>
    <title>Rock, Paper, Scissors, Spock, Lizard!</title>
  </head>
  <body>
    <h1 align='center'>Rock, Paper, Scissors, Spock, Lizard!</h1>

    <div class="name-form">
      <form action='/names' method='Post'>
        <div class=''>
          <label for='p1_name'>Player1 Name</label>
          <input type='text' name='p1_name' value=''>
          <label>
            <input type="radio" name="player_1_type" value="human" checked> Human
          </label>

          <label for='p2_name'>Player2 Name</label>
          <input type='text' name='p2_name' value=''>
          <label>
            <input type="radio" name="player_2_type" value="human" checked> Human
          </label>
          <label>
            <input type="radio" name="player_2_type" value="computer"> Computer
          </label>
        </div>

        <div class='start-game'>
          <input id='start_game' type='submit' name='start_game' value='Start Game'>
        </div>
      </form>
    </div>

  </body>
</html>